body{
    background-image: url('../images/rutas.png');
    background-repeat: no-repeat;
    background-size: 100%;
   }
h1{
    font-size: 1em;
}
#main-header {
	background: #943126 ;
	color: white;
	height: 80px;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}
#main-header a {
	color: white;
}
#logo-header {
	float: left;
	padding: 20px 0 0 40px;
	text-decoration: none;
}
#logo-header:hover {
	color: #dbcdb8    ;
}
#logo-header .site-name {
	display: block;
	font-weight: 700;
	font-size: 1.8em;
}
#logo-header .site-desc {
	display: block;
	font-weight: 300;
	font-size: 0.8em;
	color: #CD6155  ;
}
/*
 * Navegación
 */
nav {
	float: right;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
}
nav ul li a {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
}
nav ul li a:hover {
	background: #CD6155;
}
.formulario{
	border-radius:5px;
	background:RGBA(255,255,255,1);
	-webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
	box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
	margin:0px 40px;
	width : 50%;
	height: 300px;
	border: 1px solid gray;
	padding: 2em 3em;
    margin: 6em 22% 5em;
	background-size:cover;
	border:#fff 15px solid;
 }
a{
  display:block;
  color:#ad5482;
  text-decoration:none;
  font-weight:bold;
  margin-bottom:30px;
  text-align:center;

}
#main-footer {
	background: #943126;
	color: white;
	text-align: center;
	padding: 20px 0px;
	height:30px;
	bottom:0;
	width:100%;
    margin: 1em 0px;
}
#main-footer p {
	margin: 0;
}
#main-footer a {
	color: white;
}

