<!DOCTYPE html>
<html>
	<head>
	{% block archivos_css %}
		{% load static %}
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta name="title" content="Rutas Barrio Unillanos">
        <meta name="Description" content="La aplicación web de rutas de barrio unillanos permite a los estudiantes de la universidad inscribirse, reservar y cancelar un cupo en las rutas disp.">
        <meta name="keywords" content="rutas barrio, unillanos, rutas unillanos, transporte unillanos" />
        <meta name="author" content="Unillanos" />
         <link rel="stylesheet" href="{% static 'css/estilos.css' %} " type="text/css">
		{% endblock %}
		<title>{% block title %}Página Principal {% endblock %}</title>
        <link REL="SHORTCUT ICON" href="{% static 'favicon/favicon.ico' %}">
	</head>
	<body>
        <header id="main-header">
			<a id="logo-header" href="#">
				<span class="site-name"><h1>Rutas de barrio Unillanos</h1></span>
            </a>
			<nav>
				<ul>
					<li><a href="{% url 'estudiante:informacion' %}">Informacion</a></li>
					<li>{% block OP1 %}<a href="{% url 'estudiante:registro_estudiante' %}"> Registro</a>{% endblock %}</li>
					<li>{% block OP2 %}<a href="{% url 'estudiante:reserva_ruta' %}"> Reservar</a>{% endblock %}</li>
					<li>{% block OP3 %}<a href="{% url 'estudiante:cancelar_ruta' %}"> Cancelar</a>{% endblock %}</li>
				</ul>
			</nav>
		</header>
        <div  class = "formulario">

        </div>
        <footer id="main-footer">
			<p><a href="#">Universidad de los Llanos</a></p>
		</footer>
    </body>

</html>