{% extends 'estudiante/registro.html' %}
   {% block title %} Cancelar {% endblock %}
    {% block OP1 %}<a href="{% url 'estudiante:informacion' %}">  Informacion</a>{% endblock %}
    {% block OP2 %}<a href="{% url 'estudiante:registro_estudiante' %}">  Registro</a>{% endblock %}
    {% block OP3 %}<a href="{% url 'estudiante:reserva_ruta' %}">  Reservar</a>{% endblock %}
    {% block titulo %} CANCELAR{% endblock %}
    <form method="post">
        {%csrf_token %}
        {{ form.as_p }}
        {% block boton %}Cancelar{% endblock %}
        {% block msg %}
        {% if reserva_cancelada %}
            <div class="correcto"><b>Cancelación Exitosa.</b></div>
        {% elif reserva_no_existe %}
           <div class="error"><b>Reserva no existe.</b></div>
        {% endif %}
    {% endblock %}
    </form>

