<!DOCTYPE html>
    <head>
        {% load static %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}" />
        <link REL="SHORTCUT ICON" href="{% static 'favicon/favicon.ico' %}">
        <title>{% block title %} Información {% endblock %}</title>
    </head>

    <body>
        {% block logo%}
        <div id = "logo"></div>
        {% endblock %}
        {% block titulo%}<h1>RUTAS DE BARRIO UNILLANOS</h1>{% endblock %}


        <div id = "cabe_acc">
             <h2>{% block accion%} Información {% endblock %}</h2>
        </div>
        
            <h3>{% block tit%} Bienvenido {% endblock %}</h3>
            <div id = "des">{% block descri%}Información referente a las rutas de barrio de la universidad de los llanos{% endblock %}
                <select >
                    <option value = ""></option>
                    {% if rutas %}
                    {% for ruta in rutas%}
                    <option value = "{{ ruta.nombre_r }}">{{ ruta.nombre_r }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>

            <button type="button" class="btn"  onclick ="" >Buscar</button>

        

         
        <a href= "{% url 'estudiante:index' %}"><button type="submit"  id = "boton1" class = "myButton1"  >{% block botonv %}Volver{% endblock %}</button></a> 
        <div id = "footer">
            <nav>
                <ul class="clearfix">
			        <li><a href="#"><span class="fontawesome-user"></span></a>
				        <ul>
					        <li><a href="https://www.facebook.com/UnillanosOficial/" class="facebook"><span class="fontawesome-facebook"></span></a></li>
					        <li><a href="https://twitter.com/unillanos_" class="twitter"><span class="fontawesome-twitter"></span></a></li>
					        <li><a href="https://www.youtube.com/channel/UCmhXbLrVeyotUiBsaPBcxcA/feed" class="youtobe"><span class="fontawesome-play"></span></a></li>
				            <li><a href="http://www.unillanos.edu.co/" class="unillanos"><span class="fontawesome-underline"></span></a></li>
                        </ul>
                     </li>
                </ul>
            </nav>
        </div>
    </body>