
<!DOCTYPE html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}" />
    <link REL="SHORTCUT ICON" href="{% static 'favicon/favicon.ico' %}">
    <title>{% block title %} Registro {% endblock %}</title>
</head>

<body>
    {% block titulo%}<h1>RUTAS DE BARRIO UNILLANOS</h1>{% endblock %}
        <div id = "formulario">
            <h4>{% block accion%} REGISTRAR ESTUDIANTE {% endblock %}</h4>
             <form method="post">
                 {%csrf_token %}
                 {{ form.as_p}}
                 <button type="submit"  id = "boton">{% block boton %}Registrar{% endblock %}</button>
            </form>
        </div>>
</body>
