
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}" />
        <link REL="SHORTCUT ICON" href="{% static 'favicon/favicon.ico' %}">
        <title>{% block title %} Registro {% endblock %}</title>
    </head>

    <body>

        <header id="main-header">
			<a id="logo-header" href="#">
				<span class="site-name">Rutas de barrio Unillanos</span>
            </a>
			<nav>
				<ul>

					<li><a href="{% url 'index' %}">Principal</a></li>
					<li>{% block OP1 %}<a href="{% url 'estudiante:informacion' %}"> Informacion</a>{% endblock %}</li>
					<li>{% block OP2 %}<a href="{% url 'estudiante:reserva_ruta' %}"> Reservar</a>{% endblock %}</li>
					<li>{% block OP3 %}<a href="{% url 'estudiante:cancelar_ruta' %}"> Cancelar</a>{% endblock %}</li>
				</ul>
			</nav>
		</header>

        <div id = "titulo">
			 {% block titulo %} REGISTRO{% endblock %}
		</div>
        {% block cuerpo %}
        <div  class = "formulario">
            <form method="post" class = "form">
                {%csrf_token %}
                {{ form.as_p}}
                <button type="submit"  class = "button">{% block boton %}Registrar{% endblock %}</button>
                {% block msg %}
                    {% if registro_existe %}
                        <div class="error"><b>El registo ya existe.</b></div>
                    {% elif registro_exitoso  %}
                         <div class="correcto"><b>Registro Exitoso.</b></div>
                    {% endif %}
                {% endblock %}
             </form>
        </div>
        {% endblock %}

        <footer id="main-footer">
			<p><a href="#">Universidad de los Llanos</a></p>
		</footer>
    </body>
</html>
