{% extends 'estudiante/registro.html' %}

{% block title %} Reserva{% endblock %}
    {% block accion%}RESERVAR CUPO{% endblock %}
    {% block tit%} Aproveche {% endblock %}
{% block descri %} Para reservar un cupo, digite el código con el que se registro, elija una ruta y una hora. Recuerde estar 5 minutos antes de la hora de salida. Solo puede reservar un cupo para una misma hora. {% endblock %}
    <form method="post">
        {%csrf_token %}
        {{ form.as_p }}
        <button type="submit" >{% block boton %}Reservar{% endblock %}</button>

    </form>
    {% block msg %}
        {% if existe_reserva %}
            <h1> Ya Existe una reserva. </h1>
        {% endif %}

        {% if reserva_exitosa %}
            <h1> Tu Reserva fue existosa. </h1>
        {% endif %}
    {% endblock %}


