{% extends 'estudiante/registro.html' %}

    {% block title %} Reserva{% endblock %}
    {% block OP1 %}<a href="{% url 'estudiante:informacion' %}">  Informacion</a>{% endblock %}
    {% block OP2 %}<a href="{% url 'estudiante:registro_estudiante'%}">  Registro</a>{% endblock %}
    {% block OP3 %}<a href="{% url 'estudiante:cancelar_ruta' %}">  Cancelar</a>{% endblock %}

    {% block titulo %} RESERVAR{% endblock %}

    <form method="post">
        {%csrf_token %}
        {{ form.as_p }}
        {% block boton %}Reservar{% endblock %}
        {% block msg %}
            {% if existe_reserva %}
                <div class="error"><b>Reserva ya existe.</b></div>
            {% elif reserva_exitosa %}
                <div class="correcto"><b>Reserva Exitosa.</b></div>
            {% endif %}
    {% endblock %}


    </form>


